--- 
version: '1.0.{build}'
image: Visual Studio 2017
      
# Default configuration
configuration: Debug
init:
  - cmd: git config --global core.autocrlf true
before_build:
  - cmd: dotnet restore DotNetCSS.sln --verbosity m
build_script:
  - cmd: dotnet build --no-restore
test_script:
  - cmd: dotnet test "src/DotNetCSS.Tests/DotNetCSS.Tests.csproj" --no-build
after_test:
  - cmd: dotnet pack "src/DotNetCSS/DotNetCSS.csproj" --no-build
artifacts:
  - path: '**\*.nupkg'
  
# publish NuGet package on tagged build
deploy:
  - provider: NuGet
    api_key:
      secure: wnx04Cn818J/YtTFE3cqXnSUSpEWwrqsiXoVxZw/HvmuuV8OnOQStQeoLPJJXcUM
    artifact: /.*\.nupkg/
    on:
      appveyor_repo_tag: true

# configuration for "master" branch
# build in Release mode; set PublicRelease=true for GitVersioning
for: 
  - 
    branches: 
      only: 
        - master
    configuration: Release
    build_script:
      - cmd: dotnet build /p:PublicRelease=true
...
