--- 
version: '1.0.{build}'
image: Visual Studio 2017

# configuration for "master" branch
# build in Release mode; set PublicRelease=true for GitVersioning
for: 
  - 
    branches: 
      only: 
        - master
    configuration: Release
    build_script:
      - cmd: msbuild DotNetCSS.sln /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" /p:PublicRelease=true
      
# "fall back" configuration for all other branches
configuration: Debug
init:
  - cmd: git config --global core.autocrlf true
before_build:
  - cmd: dotnet restore DotNetCSS.sln --verbosity m
build_script:
  - cmd: msbuild DotNetCSS.sln /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
test_script:
  - cmd: dotnet test "DotNetCSS.Tests\DotNetCSS.Tests.csproj"
...
